
/*
 * Project final hand-in: Stylesheets File App.css
 * 
 * Authors: Juan José Gómez Villegas (u1987338@campus.udg.edu)
 * 
 * Date: 2025-12-01
 */

/* ANIMATIONS CSS */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ALL STYLES */

.App {
  text-align: center;
}

/* HEADER STYLES */
