
/*
 * Project final hand-in: Stylesheets File App.css
 * 
 * Authors: Juan José Gómez Villegas (u1987338@campus.udg.edu)
 * 
 * Date: 2025-12-01
 */

/* MORE FONTS FAMILY */
/*@font-face {
    font-family: SevenSegments;
    src: url(fonts/SevenSegments.ttf);
}*/

/* CSS VARIABLES */
:root {
  --black: #000000;
  --white: #ffffff;
  --gray: #7C7C7C;
  --lightGray: #D6D6D6;
  --colorPrimary: #005EB8;
  --textColorPrimary: var(--white);
  --colorSecundary: #ffffff;
  --textColorSecundary: var(--black);
}

/* ANIMATIONS CSS */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* FOR DESKTOP */

/* ALL STYLES */

.App {
  text-align: center;
}

/* HEADER STYLES */

div#top {
    position: sticky;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1;
}

header {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  background-color: var(--colorPrimary);
}

header > select {
  margin-right: 5px;
  width: 150px;
  border-radius: 5px;
  text-align: center;
  font-size: 17px;
  background-color: var(--colorSecundary);
}

nav div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--colorPrimary);
}

nav a {
  margin-left: 5px;
  padding: 10px;
  font-size: 17px;
  text-decoration: none;
}

nav a > img {
  width: 50px;
}

nav a.elementmenu {
  color: var(--textColorPrimary);
  transition: all .5s;
}

nav a.elementmenu:hover {
  transition: all .5s;
  background-color: var(--colorSecundary);
  color: var(--colorPrimary);
}

/* SLIDER STYLES */

.Slider > div:first-child {
  height: 100%;
}

.Slider div#controlSlaider > button#prevImg {
  position: absolute;
  top: 400px;
  left: 10px;
}

.Slider div#controlSlaider > button#nextImg {
  position: absolute;
  top: 400px;
  right: 10px;
}

.Slider div#controlSlaider > button {
  padding: 15px;
  font-size: 25px;
  border-radius: 5%;
  border: 0px;
  background-color: var(--colorPrimary);
  color: var(--textColorPrimary);
  transition: all .5s;
}

.Slider div#controlSlaider > button:hover {
  transition: all .5s;
  border-radius: 10px;
}

/* SECTIONS STYLES */

.Presentation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 10px 200px 10px 200px;
}

.Presentation p {
  margin: 10px;
  text-align: justify;
}

.Distances {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  background-color: var(--colorPrimary);
  color: var(--textColorPrimary);
}

.Distances img {
  width: 50px;
}

.AboutInfo > div > dl {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: left;
}

.Section {
  margin: 25px;
}

.Section h1 {
  margin: 25px;
}

.iframeLocation {
  width: 100%;
  height: 750px;
  border: none;
}

/* FOOTER STYLES */

footer {
  padding: 15px;
  background-color: var(--colorPrimary);
}

footer div {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

footer div > p {
  font-size: 17px;
  color: var(--textColorPrimary);
}

footer img.flags {
  margin-left: 10px;
  width: 75px;
}

/* OTHER STYLES */

h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
}

dl {
  margin: 0px;
}

dt {
  font-weight: bold;
}

dl > dt, dl > dd {
  margin: 10px;
}

@media only screen and (max-width: 860px) {
  /* FOR MOBILE PHONE */
  .Presentation {
    display: flex;
    flex-direction: column;
    margin: 10px 50px 10px 50px;
  }

  .Distances {
    display: flex;
    flex-direction: column;
  }

  .Distances img {
    width: 75px;
  }

  .Slider div#controlSlaider > button#prevImg {
    position: absolute;
    top: 200px;
    left: 10px;
  }

  .Slider div#controlSlaider > button#nextImg {
    position: absolute;
    top: 200px;
    right: 10px;
  }

  .AboutInfo > div > dl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin-left: 100px;
  }
}
