
/*
 * Project final hand-in: Stylesheets File Index.css
 * 
 * Authors: Juan José Gómez Villegas (u1987338@campus.udg.edu)
 * 
 * Date: 2025-12-01
 */

/* FONTS */

@font-face {
  font-family: OldNewspaperTypes;
  src: url("../public/multimedia_files/fonts/OldNewspaperTypes.ttf");
}

@font-face {
  font-family: Royal;
  src: url("../public/multimedia_files/fonts/royal.ttf");
}

@font-face {
  font-family: Olivetti;
  src: url("../public/multimedia_files/fonts/Olivetti.ttf");
}

/* ALL STYLES */

:root {
  --fontPrimary: "Arial"
}

* {
  font-family: var(--fontPrimary), sans-serif;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

audio {
  display: none;
}
